[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
rest-framework-simplejwt = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9.2"
